@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif
    ;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: aqua;
}

body{
    background: url(imagens/fundo-madeira.jpg) top center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main{
    height: 100vh;
    position: relative;
    
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 624px;
    width: 311px;
    background-color: black;
    background: url(imagens/frame-iphone.png) no-repeat;
}

iframe#tela{
    position: relative;
    top: 83px;
    left: 22px;
    width: 271px;
    height: 469px;
}

section#redes img{
    width: 50px;
    margin: 8px;
    border-radius: 50%;
    box-shadow: 1px 1px 2px black;
    box-sizing: border-box;
}

section#redes{
    text-align: right;
}

section#redes img:hover{
    border: 2px solid rgba(255, 255, 255, 0.26);
    transform: translate(-4px, -4px);
    transition: trasnform .3s, border 1s;
}